body {
    background-color: aqua;
    display:grid;
    animation-name: event;
    animation-duration: 2s;
    font-family: cursive;
     background: linear-gradient(green, aqua);
     padding: 0;
     margin: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     font-family: cursive;
     display: grid;
     grid-template-columns: 85% 15%;
     grid-template-rows: 100%;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100px;
    background-color: brown;
    position:fixed;
    margin-left: 1250px;
    top: 7em;
}

li a {
    display: block;
    color: aqua;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
background-color:black;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    position: fixed;
     border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
     border-radius: 0.1em;
     margin-left: 1300px;
    }
  
    .shownav:before {
      content: '';
       position: fixed;
       width: 1.25em;
       top: 1.45em;
       left: 1308px;
       border-top: 0.2em solid black;
      }

      .current {
          background-color: black;
      }

form {
    display: grid;
    width: 500px;
    text-align: center;
    margin-left: 25em;
    border: 3px black;
    border-radius: 5px;
}

form2 {
    display: grid;
    width: 500px;
    text-align: center;
    margin-left: 25em;
    border: 3px black;
    border-radius: 5px;
}

form3 {
    display:grid; 
    width: 200px;
    margin-left: 17.3em;
    font-style: cursive; 
}



h1 {
    text-decoration: underline;
}

@keyframes event {
    0% {opacity: 0;}
    10% {opacity: 0.1}
    20% {opacity: 0.2}
    30% {opacity: 0.3}
    40% {opacity: 0.4}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity:0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity:1;}
}